<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "InFolder" value="C:\HL7\In\"/>
		<add key = "TmpFolder" value="C:\HL7\Tmp\"/>
		<add key = "OutFolder" value="C:\HL7\Out\"/>
		<add key = "ErrFolder" value="C:\HL7\Err\"/>
		<add key = "ArcFolder" value="C:\HL7\Arc\"/>
		<add key = "NumOfFileThreads" value="1"/>
		<add key = "RealtimeWatcher" value="true"/>
		<add key = "BatchWatcher" value="true"/>
		<add key = "BatchWatcherWaitTime" value="1000"/>
	</appSettings>	
</configuration>